<div class='blog_post'>
  <div class="curved">
    <div class='contents'>
      <h2 class='title'><%= link_to(h(article.title), article_path(article)) -%></h2>
      <h3 class='time'><em><%= article.created_at.strftime("%B %e\n%Y") -%></em></h3>
      <%= article.contents -%>
    </div>
  </div>
</div>
<br class='clear' />
