<div class='page'>
  <div class='tag_cloud'>
    <h2>Tags</h2>
    <%= tag_cloud -%>
  </div>
  <div class='articles_container'>
    <%= render :partial => 'articles/article', :collection => @blog_posts -%>
  </div>
</div>
